<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div class="login-page">
    <div class="form">
        <h2>Sign up</h2>
        <div class="error" th:if="${param.error}">
            Invalid username and password.</div>
        <div class="error" th:if="${param.logout}">
            You have been logged out.</div>
        <form  class="login-form" th:object="${registration}" th:action="@{/register}" method="post">
            <div>
                <input type="text" name="username" placeholder="Username"/>
            </div>
            <div>
                <input type="password" name="password" placeholder="Password"/>
            </div>
            <input class="button" type="submit" value="Sign up" />
        </form>

    </div>
</div>
</body>
</html>